.holder{
	display:flex;
	justify-content:space-between;
}
.item{
	height:100px;
	width:100px;
}
#red{
	background-color:red;
	font-size:50px;
	order:2;
}
#blue{
	background-color:blue;
	font-size:50px;
	order:3;
}
#green{
	background-color:green;
	font-size:50px;
	order:1;
}
